main {
    max-width: 1500px;
    margin: 4rem auto 0 auto;
    text-align: center;
}

.models {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    flex-wrap: wrap;
}

.model {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70rem;
    justify-content: flex-start;
    text-align: center;
    padding: 10px; 
    border-radius: 30px;
    box-shadow: 0 0 6px rgb(187, 187, 187);
    background-color: hwb(0 0% 100%);
    transition: transform 0.5s;
    height: fit-content; 
}
model-viewer {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    display: block;
}
.model:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

.text {
    text-align: center;
    width: 500px;
    height: -100px;
    left: 700px;
    bottom: 1000px;
    padding: 0 20px;
}
.text h2{
        color:white;
}
.text p{
    color:#ccc;
}

.pricing-intro {
    padding: 0px 15vw;
    color: white;
    text-align: center;
    font-size: 125%;
}

@media (max-width: 800px) {
    .model {
        width: 30rem;
    }
}
