main {
    max-width: 1500px;
    margin: 4rem auto 0 auto;
    padding: 100px 100px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.features-intro {
    color: #444;
    margin-bottom: 40px;
    font-size: 1.1rem;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 170px; 
    justify-items: center; 

}

.feature {
    background: rgb(0, 0, 0);
    padding: 30px 10px; 
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.293);
    transition: transform 0.1s;
    width: 300px; 
    max-width: 400px; 
    box-sizing: border-box;
    height: 190px;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature h2 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

.feature p {
    color: #444;
    line-height: 1.5;
}


@media (max-width: 1000px) {
    .features {
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        justify-items: center;
    }
}


@media (max-width: 550px) {
    .features {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .feature:hover {
        transform: scale(1.05);
        background: #e8e8e881;
    }
}
